apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
spec:
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
      - name: {{ .Chart.Name }}
        image: "{{.Values.image.repository }}:{{.Values.image.tag}}"
        ports:
        - containerPort: {{ .Values.image.containerPort }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
